.container {
  max-width: 500px;
  max-height: 500px;
  background-color: black;
  color: white;
  margin: 30px auto 0px;
  padding: 10px;
}
button {
  cursor: pointer;
  color: black;
  background-color: palevioletred;
  background-image: linear-gradient(pink, palevioletred);
  border: 3px solid palevioletred;
}
#output{
    background-color: white;
    color: black;
    width: 30vh;
    height: 5vh;
}